@model IEnumerable<footballnet.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h3>Upload JSON file with football statistics</h3>
<form method="post" asp-action="Upload" asp-controller="Games" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <input type="submit" value="Upload" />
</form>

<p>
    <a asp-action="DeleteAll" asp-controller="Games">Delete all</a>
</p>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spectators)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spectators)
            </td>
        </tr>
}
    </tbody>
</table>
